---
import CategoryReviewSections from '../../../../components/CategoryReviewSections.astro';
import EmbedLayout from '../../../../layouts/EmbedLayout.astro';
import { reviewCategories, type ReviewCategory } from '../../../../data/reviewCategories';
import { getCategoryReviews } from '../../../../lib/reviewCategory';

export function getStaticPaths() {
	return reviewCategories.map((category) => ({
		params: { slug: category.slug },
		props: { category },
	}));
}

const { category } = Astro.props as { category: ReviewCategory };
const reviews = await getCategoryReviews(category);
---

<EmbedLayout webTitle={`MOEGN - ${category.title} Embed`}>
	<main class="category-embed" data-moegn-category-embed={category.slug}>
		<CategoryReviewSections category={category} reviews={reviews} linkTarget="_top" />
	</main>
</EmbedLayout>

<style>
	.category-embed {
		width: min(1500px, 100%);
		margin: 0 auto;
		padding: 0;
		color: var(--text-color);
	}

	@media only screen and (max-width: 720px) {
		.category-embed {
			padding-inline: 0;
		}
	}
</style>
